div.container{
	padding: 0px;
}
.row{
	margin: 0px !important;
}
div.container.main{
	background-color: #e5e5e5;
	padding: 10px 40px;
	padding-bottom: 5px;
	border-radius: 4px;
	border-radius: .5px solid #b5b5b5;
}
div.container.main.container-index{
	padding-bottom: 50px;
}
div.container-tabs{
	margin-top: 15px;
}
div.upload-vector img{
	max-height: 350px;
	width: auto;
	margin: 0px auto;
}
div.index-steps{
	margin-bottom: 30px !important;
}
div.tab-pane{
	padding: 15px;
	padding-top: 40px;
}
img.img-branding{
	width: 70%;
	height: 70%;
}
div.upload-box{
	border: 4px dashed #707070;
	text-align: center;
	margin-top: 7%;
}
div#upload{
	margin: auto auto;
}
div#upload p{
	font-size: 12px;
	margin-top: 5%;
	color: #333;
}
div.ajax-file-upload-statusbar{
	text-align: center;
	margin: 0px auto;
}
div.ajax-file-upload-filename{
	margin: 0px auto;
}
div.container h6{
	margin-top: 5px;
}
div.container ul.nav.nav-pills{
	margin-bottom: 5px;
}
div.file-name{
	margin-bottom: 15px;
	word-wrap: break-word;
}
div#canvas-section{
	height: 550px;
	width: auto;
}
div.col-left{
	height: 100%;
}
div.container table{
	margin-bottom: 10px;
}
hr#table-divider{
	margin-top: 0px;
}
div.price-box{
	border-left: 1px solid black;
	padding: 10px 0px;
}
h2#price-tag{
	margin-left: 25px;
	margin-top: 10px;
	font-size: 45px;
}
span#lbl-vat{
	font-size: 18px;
}
div.container-index{
	padding-bottom: 100px;
}
div.container-index h2{
	margin-bottom: 25px;
}
div.container-index ul{
	list-style: none;
	padding-left: 10px;
}
div.container-index span.glyphicon-folder-open{
	margin-right: 10px;
}
div.container-index span.label-info{
	font-size: 17px;
	margin-top: 10px;
}
p#lbl-controls{
	color: #a6a7a8;
	margin-top: 5px;
}
p#lbl-unit{
	display: inline;
	margin-top: 10px;
	margin-right: 10px;
}
div.top-bar{
	padding-left: 0px;
}
label.btn-browse{
	margin-left: 0px;
}
div.container hr{
	border-top: 1px solid #a6a7a8;
}
button.btn-back{
	margin: 0px 0px;
	margin-bottom: 10px;
}
div#section-right{
	height: 550px;
}
div.btn-colour button{
	margin-left: 15px !important;
	border-radius: 3px !important;
}
div.btn-colour label.btn-secondary{
	background-color: #a8a8a4;
	color: white;
}
label.btn-option{
	margin-left: 15px !important;
	border-radius: 3px !important;
}
button.btn-block{
	margin-top: 5px;
}

/*fancy checkbox css */
	.form-group input[type="checkbox"] {
	    display: none;
	}

	.form-group input[type="checkbox"] + .btn-group > label span {
	    width: 20px;
	}

	.form-group input[type="checkbox"] + .btn-group > label span:first-child {
	    display: none;
	}
	.form-group input[type="checkbox"] + .btn-group > label span:last-child {
	    display: inline-block;   
	}

	.form-group input[type="checkbox"]:checked + .btn-group > label span:first-child {
	    display: inline-block;
	}
	.form-group input[type="checkbox"]:checked + .btn-group > label span:last-child {
	    display: none;   
	}
/*end fancy checkbox css */

div.material-pane{
}

div.material-pane h3{
	text-align: center;
	margin: 15px 0px;
	font-size: 22px;
}

div.material-pane img{
	max-height: 150px;
	width: auto;
	margin: 0px auto;
}

div.material-pane ul{
	margin-top: 20px;
	padding-left: 15px;
	text-align: center;
}

div.material-pane li{
	list-style: none;
}

div.quote h2{
	text-align: right;
	font-size: 33px;
	color: #337ab7;
}

div.quote ul{
	margin-top: 35px;
}

div.quote span.glyphicon-check{
	margin-right: 10px;
}

div.quote li{
	text-align: right;
	list-style: none;
	font-size: 19px;
	margin-bottom: 15px;
}

ul#myTabs{
	margin-top: 25px;
}

hr#footer-sep{
	margin-top: 20px;
	margin-bottom: 10px;
}

ul#footer-links{
	margin-left: 0px;
	padding-left: 5px;
}

ul#footer-links li{
	list-style: none;
	display: inline;
	margin-right: 15px;
}

/*step css*/

ul.nav.nav-pills{
	background-color: #e5e5e5;
	border: none;
}

ul.nav.nav-pills li{
	background-color: #fff;
	margin: 5px;
}

/*end css */

div.container.receipt h2{
	margin-top: 0px;
}

div.container.receipt a{
	margin-bottom: 20px;
}

input#quantity-input{
	max-width: 25px;
	margin-left: 5px;
}
